name: Build Postgres Service

on:
  workflow_call:
    secrets:
      DBNAME:
        description: "DB Name"
        required: true
      DBUSER:
        description: "DB user"
        required: true
      DBPASS:
        description: "DB pass"
        required: true
      TAG_VERSION:
        description: "DB tag"
        required: true
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - main
      - dev

permissions:
  contents: read
  pull-requests: read
  security-events: write

jobs:
  call-service-workflow:
    uses: wander-suite/wander-devops/.github/workflows/service-workflow.yml@main
    secrets:
      DBNAME: ${{ secrets.DBNAME }}
      DBUSER: ${{ secrets.DBUSER }}
      DBPASS: ${{ secrets.DBPASS }}
      TAG_VERSION: ${{ secrets.TAG_VERSION }}
