name: Build Postgres Service

on:
  pull_request:
    types:
      - closed

permissions:
  contents: read
  pull-requests: read
  security-events: write

jobs:
  publish-gpr:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          registry-url: "https://npm.pkg.github.com/"
          scope: "@wander-suite"
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
