name: Build Postgres Service

on:
  workflow_call:

  workflow_dispatch:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - main
      - dev

permissions:
  contents: read
  pull-requests: read
  security-events: write

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x, 18.x]
    env:
      COMPOSE_FILE: docker-compose-ci.yml
      DBNAME: ${{ secrets.DBNAME }}
      DBUSER: ${{ secrets.DBUSER }}
      DBPASS: ${{ secrets.DBPASS }}
      TAG_VERSION: ${{ secrets.TAG_VERSION}}

    steps:
      - name: Checkout repository to Github Workspace
        uses: actions/checkout@v3

      - name: Login to Dockerhub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER}}
          DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN}}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Run Tests
        shell: bash
        run: |
          npm i
          npm run ci-test
        continue-on-error: false

  code-scan:
    name: CodeQL Analysis
    needs: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language:
          - javascript

    steps:
      - name: Checkout repository to Github Workspace
        uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: ${{ matrix.language }}

      - name: Autobuild
        uses: github/codeql-action/autobuild@v2

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
        with:
          category: "/language:${{matrix.language}}"
